body {
	background-color: #c3dbf0;
}

.klein {
	font-size: 0.6em;
}

.tabellen {
	table-layout: fixed;
	width: 70%;
	border: solid .5px;
	padding: 15px;
	font-size: 0.85em;
	font-family: sans;
	margin: auto;
}
.tabellen thead {
	text-align: left;
}

.color1 {
	background-color: #e3d3f2;
}
.color1 thead {
color: #806f90;
}

.color2 {
	background-color: #43d3f2;
}
.color2 thead {
	color: #294a51;
}

.ergebniszeile {
	color: #031a6b;
}
.eingabezeile input {
	background-color: lightgreen;
}
/*
#ausgabe_einzeln {
	background-color: salmon;
}
*/
